<h3><%= random_suggest %></h3>

<h4><%= @drink.name %></h4>
<ul>
  <% @drink.components.each do |c| %>
    <li>
      <strong><%= c.quantity %></strong> <%= c.ingredient.name %>
    </li>
  <% end %>
</ul>

<%= button_to refresh_text, root_url, :method => "get" %>