<!DOCTYPE html>
<html>
<head>
  <title>DrinkPicker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <div id="footer">
    <% if current_admin %>
      <p><em>Welcome, <%= current_admin.username %>!</em></p>
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Browse Drinks", drinks_url %></li>
        <li><%= link_to "Browse Ingredients", ingredients_url %></li>
        <li><%= link_to "Add an Ingredient", new_ingredient_url %></li>
        <li><%= link_to "Make a Drink", new_drink_url %></li>
        <li><%= link_to "Logout", session_url, :method => "delete" %></li>
      </ul>
    <% else %>
      <em>Admin user? <%= link_to "Log in", new_session_url %>
    <% end %>
  </div>
</body>
</html>
