<!DOCTYPE html>
<html>
<head>
  <title>DrinkPicker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <%= yield %>
</div>
  <% if current_admin %>
    <div class="footer">
      <p><em>Welcome, <%= current_admin.username %>!</em></p>
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Browse Drinks", drinks_url %></li>
        <li><%= link_to "Browse Ingredients", ingredients_url %></li>
        <li><%= link_to "Add an Ingredient", new_ingredient_url %></li>
        <li><%= link_to "Make a Drink", new_drink_url %></li>
        <li><%= link_to "Logout", session_url, :method => "delete" %></li>
      </ul>
    </div>
  <% end %>
  </div>
</body>
</html>
